<center>
<h1>{{pageHeader}}</h1>
</center>


<form method="post" action="/submit-form" target="_top">
	<input type="text" class="data-input" name="name" placeholder="Name..." required>
	<input type="email" class="data-input" name="email" placeholder="Email..." required>
	<center><input type="submit" value="Subscribe" class="button button-primary"></center>
</form>

<p>NOTE: enter "error" as the first name to see the error page.</p>