<center>
<h1>{{pageHeader}}</h1>
</center>

<p>A Video on a CMS</p>
<amp-video  layout="responsive" width="400" height="300" src="public/videos/forTesting.mp4" poster="public/images/testingVideoPoster.gif" controls>
	<div fallback>
		<p>Your browser doesn't support HTML5 videos</p>
	</div>
	<source src="public/videos/forTesting.mp4" type="">
</amp-video>


<p>A YouTube Video</p>
<amp-iframe width="560" height="315" src="https://www.youtube.com/embed/42pYj-ZWITk" sandbox="allow-scripts allow-same-origin" frameborder="0" layout="responsive" allowfullscreen></amp-iframe>

