<center>
<h1>{{pageHeader}}</h1>
</center>

<p>A Video on the Server</p>

{{!-- poster="public/images/testingVideoPoster.gif" --}}
<amp-video  layout="responsive" width="400" height="300" src="public/videos/forTesting.mp4" poster="public/images/testingVideoPoster.gif" controls>
	<div fallback>
		<p>Your browser doesn't support HTML5 videos</p>
	</div>
	<source src="public/videos/forTesting.mp4" type="">
</amp-video>